@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
.container {
  width: auto;
  margin: 0;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  gap: 60px;
  
}
nav a {
  font-size: 48px;
}
body,
a {
  text-decoration: none;
  font-family: "Neucha", cursive;
  color: black;
  margin: 0;
}
.background-image {
    position: fixed; 
    left: 0;
    top: 0;
    margin: 0;
    height: 150px;
    width: 100%;
    background-image: url(./main/blur.png); 
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1; 
  }

.authorization{
    background-color: #E7E0D6;
    height: 1100px;
    width: 1000px;
    border-radius: 30px;
    margin: 70px;
}
.authorization h1{
    font-size: 90px;
    text-align: center;
    margin: 0;
    padding: 0;
    padding: 40px 0 0 0;
}
.entr p{
    margin: 0;
    color: #454545;
}
.entr a{
    color: #5C1934;
}
.entr{
    display: flex;
    gap: 20px;
    justify-content: center;
    font-size: 40px;

}
.author{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    gap: 30px;
}
input[type="email"],
input[type="password"],
input[type="text"]{
    height: 70px;
    width: 700px;
    border-radius: 15px;
    border: none;
    background-color: #454545;
    outline: none;
    padding: 0px 0px 0px 15px ;
    font-family:"Neucha", cursive; 
    color: white;
    font-size: 30px;
}
label{
    display: block;
    font-size: 24px;
    
}
.login-btn{
    background-color: black;
    height: 85px;
    width: 700px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    color: white;
    margin-top: 10px;
    transition: background-color 0.2s ease;
    font-size: 40px;
    font-family:"Neucha", cursive; ;
}
.login-btn:hover{
    background-color: #1f1e1e;
}
.forgot-password{
    font-size: 36px;
    margin: 0;
}
.forgot-password a{
    color: #5C1934;
}






footer{
    background-image: url(./main/footer.png);
    width: auto;
    height: 460px;
  margin-top: 80px;
  }
  .footer_description p{
    font-size: 48px;
  }
  .footer_description{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 30px;
  }
  .footer_logo{
  display: flex;
  justify-content: center;
  margin: 30px;
  }
  .social{
    display: flex;
    justify-content: center;
    gap: 60px;
  }
  .social p{
    font-size: 32px;
  }