@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
.container{
    width: auto;
    margin: 0;

}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    
}
nav{
    display: flex;
    gap: 60px;
}
nav a{
    font-size: 48px;
}
body, a{
    text-decoration: none;
    font-family: "Neucha", cursive;
    color: black;
}
.main{
    width: 90px;
    height: 90px;
}
.shoes{
    height: 500px;
    width: 400px;
margin-left: 200px;
}
.text{
    flex: 1;
    text-align: left;
}
.text h1{
    font-size: 64px;
    font-weight: 500;
}
.text p{
    font-size: 64px;
}

#cover{
    display: flex;
    padding: 20px;
    background-image: url(./main/main.png);
    background-size: 700px 1000px;
    background-repeat: no-repeat;
    background-position: right center;
display: flex;
flex: 1;
text-align: right;
}
#about-us{
    margin: 0;
    padding: 20px;
}
.about-us_container{

}
.about-us_container h2{
    margin: 0 auto;
font-size: 96px;
display: flex;
justify-content: center;
}
.content-img{
    width: 400px;
    height: 670px;
    padding: 20px;
}