@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
.container {
  width: auto;
  margin: 0;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav {
  display: flex;
  gap: 60px;
}
nav a {
  font-size: 48px;
}
body,
a {
  text-decoration: none;
  font-family: "Neucha", cursive;
  color: black;
}
.main {
  width: 90px;
  height: 90px;
}
.shoes {
  height: 500px;
  width: 400px;
  margin-left: 200px;
}
.text {
  flex: 1;
  text-align: left;
}
.text h1 {
  font-size: 64px;
  font-weight: 500;
}
.text p {
  font-size: 64px;
}

#cover {
  display: flex;
  padding: 20px;
  background-image: url(./main/main.png);
  background-size: 700px 1000px;
  background-repeat: no-repeat;
  background-position: right center;
  display: flex;
  flex: 1;
  text-align: right;
}

.about-us-section {
  padding: 40px 0;
}

.container_description {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.about-us-section h2 {
  text-align: left;
  font-size: 90px;
  margin: 0;
}

.about-us-content {
  display: flex;
  gap: 30px;
}

.about-image-container {
  flex: 1;
  padding: 5px;
}

.about-image-container img {
  height: 770px;
  width: 500px;
}

.about-text h3 {
  font-size: 50px;
  margin: 0;
  padding: 0;
}

.about-text p {
  font-size: 40px;
  margin: 0;
  padding: 10px;
}

.image-and-list {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top: 170px;
}

.about-image-small {
  width: 260px;
  height: 400px;

  padding: 5px;
}

.about-list {
  text-align: left;
}

.about-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-list li {
  font-size: 50px;
}

#picture {
  display: flex;
  align-items: center;
}
.popular_img{
    background-image: url(./main/popular.png);
    width: auto;
    border-radius: 20px;
    height: 96px;
    
}
.popular p{
    font-size: 80px;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0;
}
.first_img{
display: flex;
justify-content: center;
margin: 10px;

    
}
.first_img img{
    width: 400px;
    height: 550px;
    padding: 0;
    
}
.delivery_img img{
  height: 600px;
  width: 500px;
}
.delivery_description{
  border: 2px;
  border-color: black;
  border-style: solid;
  width: 900px;
  height: 600px;
  border-radius: 30px;
}
.delivery_img{
  display: flex;
  justify-content: center;
  gap: 50px;
}
.delivery_description h2{
font-size: 90px;
margin: 60px 60px;
text-align: right;
}
.delivery_description p{
  font-size: 48px;
  margin: 0;
  margin-left: 60px;
}
.arrow img{
  width: 240px;
  height: 30px;
  
}
.arrow p{
  font-size: 40px;
  text-align: right;
}
.arrow{
  text-align: right;
  margin: 30px 60px;
}
#delivery{
  margin-top: 40px;
}
.contact h2{
  font-size: 90px;
  margin: 0;
}
.contact p{
  font-size: 36px;
  margin: 0;
}
.contact{
  margin: 70px 0px 0px 220px;
text-align: left;
}